
.projects {
    position: absolute;
    left: 50%;
    transform: translate(-50%, clamp(100px, 40%, 5000px));
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: max(40vw, 400px);
    height: 50vh;
}

.gork {
    position: relative;
    z-index: 5;
    // object-fit: cover;
    width: 100%;
    // width: max(100%, 75px);
}