$primary-color: rgb(16,30,50);

.projects {
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: max(40vw, 400px);
    height: 50vh;
    margin: 10vw;
}

.gork {
    position: relative;
    z-index: 5;
    // object-fit: cover;
    width: 100%;
    // width: max(100%, 75px);
}

.fourthPage {
    position: relative;
    z-index: inherit;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}