
.fourthTrees {
    z-index: 2;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max(100vw, 1000px);
    height: 100vh;
    //xy flip
    transform: translateX(-50%) scaleX(-1);
}

.finalBackground {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max(100vw, 1000px);
    height: 100vh;
}