@import './../Global.scss';
@import './Scroll.scss';


// parallax stuff
.page3 {
    display: grid;
    align-content: center;
    position: relative;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one", "two";

    padding-bottom: 10vw;
    width: 100vw;
    background-color: $primary-color;
    z-index: 2;
}



// skills list
.skillsTable > *{
    color: white;
    font-size: inherit;
    margin-bottom: 2%;
}

.skillsTable {
    @extend .vertical-scroll;
    float: right;
    z-index: 2;
    position: relative;

    margin-top: 11vh;
    margin-bottom: 11vh;
    margin-left: 16vw;
    width: fit-content;
    height: 500px;

    font-size: 1.5em;
    
    overflow: hidden;
    &:hover {
        overflow: overlay;
    }
}

.titleSkill {
    text-align: center;
    margin-bottom: 1%;

}

.topSkill {
    @extend .smallerTitle;
    margin-top: 0px;
    margin-bottom: 2vw;
}


.skillFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pText2 {
    @extend .pText;
    text-align: left;
    width: 60%;
    margin-left: 10vw;
}

.ic {
    width: 40px;
    object-fit: cover;
}

.icons {
    display: flex;
    justify-items: flex-start;
    margin-left: 10vw;
    margin-top: 2%;
    gap: 1vw;

}