.frontScrollTrees {
    position: relative;
    @extend .frontScroll;
    margin-top: 6vw;
    z-index: 3;
    background-image: linear-gradient()
}

.frontPage {
    @extend .page;
    // height: calc(100vh + 5vw);
}


.frontScroll2 {
    @extend .frontScroll;
}