@import './Global.scss';

@import './Skills/Scroll.scss';
@import './Skills/Skills.scss';
@import './Projects/Projects.scss';
@import './Home/Home.scss';
@import './About/About.scss';
@import './Contact/Contact.scss';

.App {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
}

