.frontPage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max(100vw, 1000px);
    height: 100vh;


}
.background {
    @extend .frontPage;
    height: 150vh;
    width: max(150vw, 1000px);

}

.table {
    display: table;
}

.block {
    display: block;
}