
$primary-color: rgb(16,30,50);
$text-size: clamp(3rem, calc(1rem + 12vw), 4rem);

$text-color: white;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    display: grid;
    justify-content: center;
    position: relative;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";

    align-self: center;
    justify-content: center;
}
      
.page > * {
    grid-area: overlap;
}

.frontScroll {
    width: max(100vw, 1000px);
    object-fit: cover;

}

.title {
    position: relative;
    justify-self: self-start;
    z-index: 2;

    margin: 10vw;
    margin-top: 7vw;

    color: $text-color;
    font-size: $text-size;
}

.smallerTitle {
    @extend .title;
    margin: 10vw;
    margin-top: 14vw;
    font-size: clamp(2rem, calc(1rem + 8vw), 3rem) !important;


}

.evensmallerTitle {
    @extend .title;
    margin: 10vw;
    margin-top: 14vw;
    font-size: clamp(2rem, calc(1rem + 8vw), 1rem) !important;
}

.middleTitle {
    position: relative;
    z-index: 2;

    margin-top: 2vw;


    color: $text-color;
    font-size: $text-size;    text-align: center;
}